.container {
    max-width: 1012px;
    margin: auto;
    padding: 0 1em;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    background-color: #eaeaea;
    padding: .5em;
    border: 1px solid black;
    border-radius: 7px;
    transition: ease all .3s;
}

a:hover {
    background-color: #b8b4b4;
}

.story {
    background-color: #DA9E35;
    padding: .1em 1em;
    margin: 1em 0 0 0;
    border-radius: 7px 7px 0 0;
    color: #f7f7f7;
}

.story hr {
    border: 1px solid white;
}

.choices {
    display: flex;
    flex-flow: column nowrap;
}

.choices a {
    border-radius: 0;
    background-color: white;
    border: none;
    transition: ease all .3s;
}

.choices a:hover {
    background-color: #b64430;
    color: #f7f7f7;
}
