.container {
    max-width: 1012px;
    margin: auto;
    padding: 0 1em;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    background-color: #eaeaea;
    padding: .5em;
    border: 1px solid black;
    border-radius: 7px;
    transition: ease all .3s;
}

a:hover {
    background-color: #b8b4b4;
}
